body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  gap: 1px;
  /* background-color: #707070; */
  padding: 20px;
}

.grid-container_Stuff {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 12px;
  gap: 20px;
  /* background-color: #707070; */
  padding-top: 20px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  /* text-align: center; */
  font-size: 30px;
}

#sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ff0000;
  border-radius: 20px;
  text-align: center;
  top: 0px;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  background: linear-gradient(
    100deg,
    rgba(255, 0, 0, 0.4),
    rgba(11, 23, 197, 0.4)
  );
  box-shadow: 0 10px 2px 0 rgba(0, 0, 0, 0.2);
}

.anchs {
  padding: 1vw;
  text-decoration: none;
  font-size: 2vw;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 120%;
  text-align: center;
  margin-top: 30px;
}

img {
  max-width: 100%;
}

#logo {
  display: block;
  max-width: 240px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}

#welcome {
  display: grid;
  margin-bottom: 65px;
  font-size: 1.4rem;
}

.welcome_Section {
  display: grid;
  margin: auto;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 100vw;
  border: 2.5px solid #707070;
  border-right: none;
  background: #f1f1f1;
}

form.example button {
  height: inherit;
  font-size: 1rem;
  width: 120px;
  background: #525252;
  color: white;
  border: 2.5px solid #707070;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0f0f0f;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  background: #cecece;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
}

.pre_Footer {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  height: 25vh;
  text-align: center;
}

#payment {
  justify-self: auto;
}

.footer {
  background: #727272;
  color: white;
  font-size: 0.8em;
  align-items: center;
  text-align: center;
  padding: 12px;
  margin: auto;
}

.menu {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
}

.menu li {
  margin: auto;
}

.menu li a {
  display: grid;
  padding-bottom: 24px;
  color: #2054bd;
}

.sub_Menu li {
  display: flex;
  width: fit-content;
  font-size: 1.2rem;
  padding: 4px;
  justify-content: start;
}

#pesquisa {
  display: flex;
  width: 450px;
  padding-left: 6px;
}

.links_Cart {
  display: grid;
  font-size: 1.2rem;
}

#cart {
  position: absolute;
  right: 70px;
  margin-top: 70px;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

#quick_Find {
  border: solid 5px #333333;
  padding: 20px;
  color: white;
  background-color: #793b3b00;
}

.splide__slide {
  border: solid 5px #333333;
}

.splide__slide img {
  width: 80vw;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}

.forms1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

#catag {
  height: 2.2vh;
  display: flex;
}

.selectors {
  text-align: start;
  font-family: "Satoshi", sans-serif;
  border: solid #a1a1a1 3px;
  border-radius: 0px;
  width: 200px;
  padding: 4px;
  margin-bottom: 25px;
}

#search_Find {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  text-align: center;
  font-family: "Satoshi", sans-serif;
  bottom: 0;
}

#news[type="text"] {
  display: block;
  margin: auto;
  width: 300px;
  justify-content: center;
  font-family: "Satoshi", sans-serif;
  border: solid #276dff 3px;
  border-radius: 0px;
  padding: 4px;
}

/* Menu Mobile */

@media screen and (max-width: 1080px) {
  img {
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #sections {
    height: 8vh;
  }

  .anchs {
    padding: 2vw;
    text-decoration: none;
    font-size: 4vw;
    color: #f1f1f1;
  }

  #pesquisa {
    width: 320px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  #search_Find {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  a {
    padding: 0px;
    margin: 0px;
  }

  #welcome {
    margin-bottom: 25px;
  }

  .welcome_Section {
    margin-bottom: 20px;
    padding-top: 16px;
  }

  .grid-container_Stuff {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 20px;
  }

  .grid-container {
    display: grid;
    padding: 0px;
    grid: 0px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 1300px) {
  #cart {
    position: relative;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    left: 0px;
    display: block;
  }
}

/* CSS FLEXBOX 1 */

#tela {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 50px);
  margin: 0 auto;
  margin-top: 40px;
}

#tela > div {
  flex: 1 1 200px;
  margin: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 50px);
  margin: 0 auto;
  margin-top: 40px;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.flex_1 {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 50px);
  margin: 0 auto;
  margin-top: 40px;
}

.flex_1 > div {
  flex: 1 1 200px;
  margin: 10px;
}
