/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: "Satoshi", sans-serif;
}

body {
  background: url(dresden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  /* height: 100vh; */
  margin: 0;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
  z-index: 1000;
}

.hidden {
  top: -100px; /* Adjust this value based on your header height */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 4vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
  font-size: 2.6vh; /* FONT SIZE FOR HEADER TEXT */
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 1px 0 20px;
}

nav ul li a:after {
  content: "";
  width: 0px;
  height: 4px;
  display: block;
  background: #333; /* THIS COLOR MUST MATCH WITH nav ul li a COLOR*/
  transition: 300ms;
  transform: translateY(-5px);
}

nav ul li a:hover:after {
  width: 100%;
  text-decoration: underline overline;
}

.section {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start; /* Center children horizontally */
  padding-top: 18vh; /* Add padding to the top to create space below the header */
  box-sizing: border-box; /* Include padding in the height calculation */
  scroll-snap-align: start;
}

h1 {
  font-size: 8vh;
  text-shadow: rgb(255, 255, 255) 1px 0 20px;
}

.centered-section {
  text-align: center;
}

.centered-section h1 {
  display: block;
  margin: 0 auto;
}

.centered-section p {
  display: block;
  margin: 0 auto;
  font-size: 2vh;
  max-width: 600px; /* Optional: to limit the width of the paragraph */
}

/* #home {
  background-color: red;
}

#about {
  background-color: blue;
}

#projects {
  background-color: green;
} */

@media screen and (max-width: 600px) {
  nav ul {
    padding: 2vh;
    font-size: 2vh;
  }

  h1 {
    font-size: 6vh;
  }

  .centered-section p {
    font-size: 1.5vh;
  }
}
